.mg-container {
  overflow-anchor: auto;
}
.mg-proxy-image{
  width: 100vw;
  height: 100vh;
  vertical-align: bottom;
  overflow-anchor: auto;
  &__placeholder{
    height: 100vh;
  }
}

.mg-primary-view{
  position: fixed;
  bottom: 0;
  right: 0;
  font-size: 13px*2;
  line-height: 1;
  margin: 5px*2 10px*2 20px*2;
  padding: 2*2px 10px*2;
  opacity: .3;
  border-radius: 13px*2;
  color: #fff;
  background-color: #000;
}
