.mg-item__history {
  line-height: 30px * 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.mg-search__history_block {
  line-height: 100px * 2;
  margin: 0 auto;
}
.at-card__header__fix {
  padding: 8px 24px;
}
