#app-container {
  display: flex;
  height: 100vh;
  flex-flow: column nowrap;
  overflow: hidden;
/*
  .mg-container {
    flex: 1;
    overflow: hidden;
    .mg-tabs {
      display: flex;
      flex-flow: column nowrap;

      .at-tabs__body {
        flex: 1;

        .at-tabs-pane {
          height: 100%;
        }
      }
    }
  }*/
}

