.mg-user {

  .mg-user-card {
    margin: 30px 15px;
    display: flex;

    .mg-user-avatar-wrapp {
      flex-shrink: 0;
      .mg-user-avatar {
        height: 80*2px;
        width: 80px*2;
      }
    }

    .mg-user-info {
      align-self: center;
      margin-left: 30px;
      flex: 1;
      font-size: 16px*2;
      .mg-user-nickname {

      }

      .mg-user-subscriber {

      }
    }
  }
  .mg-user-button {
    margin: 15px*2 15px*2 0;
  }

}
