.mg-swiper {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}
.mg-recommend-swiper {
  height: 200*2px;
}
.mg-swiper-desc {
  background-color: rgba(0,144,255,0.8);
  color: #fff;
  position: absolute;
  top: 0;
  width: 100%;
  font-size: 14*2px;
  line-height: 25*2px;
  padding-left: 10*2px;

}
.mg-swiper-container {
  height: 100%;
  width: 100%;
  position: relative;
}
