@import "~taro-ui/dist/style/index.scss"; // 引入组件样式 - 方式二

view {
  -webkit-overflow-scrolling : touch;
}
.mg-avatar {
  width: 20*2px;
  height: 20*2px;
  line-height: 20*2px;
  border: 1PX solid #000;
}
.mg-search {
  font-size: 24*2px !important;
}

.mg-grid {
  .at-grid__flex .content-inner__img {
    width: 90*2px;
    height: 90*2px;
    border-radius: 5%;

  }
}
.mg-tabs {
  .at-tabs__header {
    z-index: 99;
    position: fixed;
    top: 44*2px;
    left: 0;
    right: 0;
  }
}
.mg-primary-button {
  .at-button__text {
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.mg-primary {
  .at-grid-item--rect::before {
    padding-bottom: 36px*2;
  }
  .at-grid-item__content-inner {
    justify-content: stretch;
  }
}
