@import "~taro-ui/dist/style/index.scss"; // 引入组件样式 - 方式二

view {
  -webkit-overflow-scrolling : touch;
}
.mg-avatar {
  width: 20*2px;
  height: 20*2px;
  line-height: 20*2px;
  border: 1PX solid #000;
}
.mg-search {
  font-size: 24*2px !important;
}

.mg-grid {
  .at-grid__flex .content-inner__img {
    width: 90*2px;
    height: 90*2px;
    border-radius: 2%;

  }
}
