.mg-swiper {
  height: 100%;
  width: 100%;
  vertical-align: bottom;
}
.mg-recommend-swiper {
  height: 200PX;
}
.mg-swiper-desc {
  background-color: rgba(0,144,255,0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: 28PX;
  padding-left: 10PX;

}
.mg-swiper-container {
  height: 100%;
  width: 100%;
  position: relative;
}
