.mg-primary {
  // ??? 写在MangaHeader组件无效
  .mg-primary-button__w80 {
    width: 80px*2;
    font-size: 13px*2;
    color: #fff;
  }

  .at-icon {
    vertical-align: baseline;
    font-size: 16px*2;
  }

  .mg-card-divider {
    height: auto;
  }
}
